form {
    width: 500px;
    margin: 200px auto;
}

div {
    width: 100%;
    margin: 15px auto;
}

label {
    display: block;
    padding: 15px;
    font-size: 25px;
}

input {
    width: 96%;
    padding: 10px;
    border: 1px solid rgb(95, 95, 95);
    font-size: 20px;
    margin-left: 20px;
    border-radius: 5px;
}

button {
    margin-left: 30px;
    width: 80px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    background: linear-gradient(90deg, steelblue, lime);
}

span {
    display: block;
    margin-left: 20px;
    color: crimson;
}